body 
{
    margin: 0px 0px 1px 0px;
    
    overflow: hidden;
}

canvas
{
    margin-left:-400px;
<<<<<<< HEAD
    margin-top: -280px;
    position: absolute;
    left: 50%;
    top: 50%;
=======
    margin-top: -300px;
    position: absolute;
    left: 50%;
    top: 55%;
>>>>>>> be68156dadb710819be64f699a3dcff59ddf12a5
    overflow: auto;
}

